footer {
    background-color: #333; /* darker grey */
    color: #fff;
    padding: 20px;
    width: 100vw;      /* full viewport width */
    margin-top: auto;  /* pushes footer to the bottom */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; /* added to center text */
}
