@media (max-width: 1200px) {
    body {
        padding: var(--navbar-height) 5% 0 5%;
    }
}

@media (max-width: 768px) {
    body {
        padding: var(--navbar-height) 2% 0 2%;
    }

    .main-content {
        padding: 1.5rem;
    }

    .title-full {
        display: none;
    }
    
    .title-mobile {
        display: block;
    }

    .sidebar {
        transition: transform 0.2s ease;
        will-change: transform;
        height: calc(100% - var(--navbar-height));
        overflow: hidden;
    }

    .sidebar-content {
        max-height: none;
    }

    .dropdown-menu {
        max-height: none;
        overflow-y: visible;
    }

    .dropdown-menu.active {
        position: relative;
        overflow-y: visible;
    }

    .navbar {
        padding: 0 1rem; /* Reduce padding for better fit on mobile */
    }

    .navbar-title {
        font-size: var(--font-size-h3); /* Adjust mobile title size */
    }

    .hamburger-menu span {
        width: 20px; /* Adjust size for better visibility */
        height: 2px;
    }

    .search-input {
        width: 100%; /* Full width on mobile */
        padding: 0.5rem;
        border: 1px solid var(--grey);
        border-radius: var(--border-radius);
        background-color: var(--white);
        color: var(--black) !important;
    }

    .search-container.active .search-input {
        width: 100%;
        opacity: 1;
        visibility: visible;
        color: var(--black) !important;
    }
}
