.navbar-title,
.title-full,
.title-mobile {
    font-family: var(--font-family)
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
    background-color: var(--off-white);
    box-shadow: var(--shadow-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 1100
}

.hamburger-menu,
.search-icon {
    background: 0 0;
    border: none;
    cursor: pointer
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 1rem
}

.navbar-title {
    font-size: var(--font-size-h2);
    margin: 0;
    font-weight: 600;
    display: flex;
    align-items: center
}

.navbar-title a {
    text-decoration: none;
    color: inherit
}

.title-mobile {
    display: none
}

.hamburger-menu {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 6px
}

.navbar-right,
.search-container {
    align-items: center;
    display: flex
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--black);
    transition: .3s
}

.search-container {
    position: relative
}

.search-icon {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.search-icon svg {
    width: 24px;
    height: 24px;
    fill: var(--black)
}

.search-input {
    width: 0;
    padding: .5rem;
    border: 1px solid var(--grey);
    border-radius: var(--border-radius);
    transition: width .3s;
    opacity: 0;
    visibility: hidden;
    background-color: var(--white);
    color: var(--black) !important
}

.search-container.active .search-input {
    width: 200px;
    opacity: 1;
    visibility: visible;
    color: var(--black) !important
}

.search-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--off-white);
    border: 1px solid var(--grey);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-sm);
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 1000
}

.search-suggestions.active {
    display: block
}

.search-suggestions a {
    display: block;
    padding: .5rem;
    color: var(--black);
    text-decoration: none
}

.search-suggestions a:hover {
    background-color: var(--grey)
}

.search-suggestions p {
    margin: .5rem 0 0;
    font-size: .875rem;
    color: var(--grey)
}

.search-suggestions mark {
    background-color: var(--yellow);
    color: var(--black)
}

body.dark-mode .search-icon svg {
    fill: var(--white)
}

@media (max-width:768px) {
    .title-full {
        display: none
    }

    .title-mobile {
        display: block;
        font-size: 1.8rem
    }

    .navbar-right {
        padding: 0 1rem
    }

    .search-input {
        padding: .75rem;
        font-size: 1rem
    }
}