body.dark-mode,
body.dark-mode .dropdown-menu a,
body.dark-mode .dropdown-toggle {
    background-color: #1e1e1e
}

.theme-toggle,
body.dark-mode button {
    color: #d4d4d4;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: background-color .3s, color .3s
}

body.dark-mode {
    color: #d4d4d4
}

body.dark-mode .dropdown-menu,
body.dark-mode .navbar,
body.dark-mode .sidebar,
body.dark-mode .sidebar-footer {
    background-color: #1e1e1e;
    border-color: #3e3e3e
}

body.dark-mode .MathJax,
body.dark-mode .MathJax_SVG,
body.dark-mode .hamburger-menu span,
body.dark-mode .main-content,
body.dark-mode .theme-toggle,
body.dark-mode .tikzjax,
body.dark-mode a,
body.dark-mode button,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode header,
body.dark-mode input,
body.dark-mode li,
body.dark-mode p,
body.dark-mode section,
body.dark-mode select,
body.dark-mode textarea,
body.dark-mode ul {
    color: #d4d4d4
}

body.dark-mode .MathJax_SVG svg,
body.dark-mode .search-icon svg,
body.dark-mode .tikzjax svg {
    stroke: #d4d4d4 !important;
    fill: #d4d4d4 !important
}

body.dark-mode .sidebar {
    box-shadow: 2px 0 8px rgba(212, 212, 212, .2)
}

body.dark-mode .theme-toggle {
    background-color: #3e3e3e;
    border-color: #3e3e3e
}

body.dark-mode button {
    background-color: #3e3e3e;
    border: 1px solid #3e3e3e;
    border-radius: var(--border-radius)
}

body.dark-mode button:hover {
    background-color: #5e5e5e;
    color: #fff
}

.theme-toggle {
    background-color: #3e3e3e;
    border: 1px solid #3e3e3e;
    border-radius: var(--border-radius)
}