body.dark-mode {
    background-color: #1e1e1e; /* Softer black */
    color: #d4d4d4; /* Softer white */
}

body.dark-mode .navbar {
    background-color: #1e1e1e;
    border-bottom: 1px solid #3e3e3e; /* Softer grey */
}

body.dark-mode .hamburger-menu span {
    background-color: #d4d4d4;
}

body.dark-mode .sidebar {
    background-color: #1e1e1e;
    color: #d4d4d4;
    border-right: 1px solid #3e3e3e;
    box-shadow: 2px 0 8px rgba(212, 212, 212, 0.2); /* Softer shadow */
}

body.dark-mode .sidebar-footer {
    background-color: #1e1e1e;
}

body.dark-mode .dropdown-menu {
    background-color: #1e1e1e;
}

body.dark-mode .dark-mode-toggle {
    background-color: #3e3e3e;
    color: #d4d4d4;
}

/* LaTeX dark mode styles */
body.dark-mode .MathJax,
body.dark-mode .MathJax_SVG,
body.dark-mode .tikzjax {
    color: #d4d4d4 !important;
}

body.dark-mode .MathJax_SVG svg,
body.dark-mode .tikzjax svg {
    stroke: #d4d4d4 !important;
    fill: #d4d4d4 !important;
}

body.dark-mode .main-content,
body.dark-mode header,
body.dark-mode section,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p,
body.dark-mode ul,
body.dark-mode li,
body.dark-mode a,
body.dark-mode button,
body.dark-mode input,
body.dark-mode select,
body.dark-mode textarea {
    color: #d4d4d4;
}

/* Ensure SVG icons switch to softer white in dark mode */
body.dark-mode .search-icon svg {
    fill: #d4d4d4;
}

/* Ensure dropdown button backgrounds remain softer black and text turns softer white in dark mode */
body.dark-mode .dropdown-toggle,
body.dark-mode .dropdown-menu a {
    background-color: #1e1e1e;
    color: #d4d4d4;
}

body.dark-mode .theme-toggle {
    color: #d4d4d4;
    background-color: #3e3e3e;
    border-color: #3e3e3e;
}

.theme-toggle {
    color: #d4d4d4;
    background-color: #3e3e3e;
    border: 1px solid #3e3e3e;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
